.NavBar_bg_nav {
  width: 100%;
  background-color: red;
  color: white;
  height: 60px;
}

.justify-between {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

#nav_link li:nth-child(n + 2):nth-last-child(n + 1) {
  border-left: 1px solid #0202;
}
